<ul>
<% @video.each do |vid| %>
<li> <%=vid.title%></li>
<li> <%=vid.summary%></li>
<li> <%=vid.link%></li>
<li> <%=vid.team%></li>
<li> <%=vid.duration%></li>
<li> <%=vid.published_at%></li>
<%end%>
</ul>
